name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy,rustfmt
      - uses: Leafwing-Studios/cargo-cache@v1
      - run: ls -la
  format-check:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - run: ls -la
#       - run: cargo fmt --check
#   clippy-check:
#     runs-on: ubuntu-latest
#     needs: [build]
#     steps:
#       - run: cargo clippy --workspace --examples --all-targets --all-features -- -D warnings
